:root {
  --primary-color: #4caf50;
  --secondary-color: #e8f5e9;
  --text-color: #333;
  --accent-color: #1b5e20;
}
body,
html {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../bilder/framside.webp") no-repeat center center/cover;
  color: #ffffff;
  text-align: center;
  margin-top: -10vh;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 0.8rem 2rem;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover {
  background-color: var(--accent-color);
  transform: translateY(-3px);
}
section {
  padding: 5rem 0;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.feature {
  background-color: #e8f5e9;
  color: #333;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}
.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.feature h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.cta {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
  padding: 5rem 0;
}
.cta h2 {
  color: #ffffff;
}
footer {
  background-color: #2c3e50;
  /* eller en annen farge som passer til ditt design */
  color: #ffffff;
  text-align: center;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  nav ul {
    display: none;
  }
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: none;
}


