body {
  background-color: black;
}

section {
  display: flex;
  justify-content: center;
  width: 100vw;
}

img {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bildeskrift1 {
  color: rgb(241, 244, 238);
  font-size: 128px;
  text-align: center;
  margin-top: -540px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "nunito", sans-serif;
}
.bildeskrift2 {
  color: rgb(222, 227, 218);
  font-size: 96px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "nunito", sans-serif;
}
.overskrift {
  color: rgb(255, 255, 255);
  font-size: 48px;
  text-align: center;
  margin-top: 220px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "nunito", sans-serif;
}
