.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 60px;
  padding: 20px;
}
.grid-item img {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.noxh1 {
  text-align: center;
  text-align: center;
  font-size: 3rem;
  color: var(--primary-color);
  margin-top: 2vh;
}
