:root {
  --primary-color: #4caf50;
  --secondary-color: #2196f3;
  --background-color: #121212;
  --text-color: #ffffff;
  --accent-color: #ffffff;
  --navbar-bg: rgba(255, 255, 255, 0.8);
  --navbar-text: #4caf50;
  --navbar-hover: #4caf50;
}

body {
  margin: 0;
  font-family: "Nunito", Arial, sans-serif;
  padding-top: 54px;
}

nav {
  background-color: var(--navbar-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul .logo-item {
  margin-right: auto;
}

nav ul .link-item {
  margin: 0;
}

nav ul li a {
  display: block;
  color: var(--navbar-text);
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--navbar-hover);
  color: var(--accent-color);
}

nav ul li a.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.logo {
  height: 5vh;
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    display: none;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    text-align: center;
    width: 100%;
  }

  nav ul li a {
    padding: 1rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
  }

  .hamburger span {
    background-color: var(--navbar-text);
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.3s;
  }

  nav ul .logo-item {
    order: -1;
    margin-bottom: 1rem;
  }

  .logo {
    margin-left: 1rem;
  }
}
